{% extends 'base.html' %}

{% block title %}Inventory List - Inventory Management System{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Inventory List</h1>
    <ul class="list-group mt-3">
        {% for item in inventory_items %}
        <li class="list-group-item">
            <a href="{% url 'inventoryy:inventory-detail' pk=item.pk %}">{{ item.name }}</a>
        </li>
        {% empty %}
        <li class="list-group-item">No items found.</li>
        {% endfor %}
    </ul>
    <!-- Add pagination links if needed -->
</div>
{% endblock %}
