{% extends 'inventoryy/base.html' %}

{% block title %}Inventory List{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventory_items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unit_price }}</td>
            <td>
                <a href="{% url 'inventory-detail' item.id %}" class="btn btn-info">View</a>
                <a href="{% url 'inventory-edit' item.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'inventory-delete' item.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
